* {
    margin: 0;
    padding: 0;
}

// == Screen size ==
$screen-xs-min: 340px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

.glass-block {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 440px;
    height: 84px;
    left: 0;
    top: 10vh;

    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 0px 40px 40px 0px;

    &__icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex: 1;

        & li {
            list-style: none;
                
            &:hover path {
                fill: #998a97;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        width: 345px;
    }

    @media (max-width: $screen-xs-min) {
        width: 300px;

        &__icons {
            & li {
                svg {
                    width: 50px;
                }
            }
        }
    }
}